*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

:root{
    --colorA:mediumaquamarine;
    --colorB:#12144F;
}

.one{
    margin:3rem;
}

.section1{
    display:flex;
    flex-direction:row;
    justify-content:center;
}


div{
    background-color:mediumaquamarine;
    height:15rem;
    width:15rem;
    margin:center;
    margin:1rem;
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 1rem #666; 
    transition:0.3s;
}

div:hover{
    background-color:cornflowerblue;
    width:16rem;
    height:16rem;
    transition:0.3s;
}

.a{
    background-color:mediumaquamarine;
}

.b{
    background-color:#12144F;
}